/* Centering SignupForm */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
   /* Ensure full viewport height */
}
html{
  padding: 0px;
}
